@import 'variables/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: $primary-font;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
