@import "reset";
@import "variables/colors";
@import "global";
@import "sections/hero";
@import "sections/shows";
@import "sections/plans";
@import "sections/watch-your-way";
@import "sections/download-now";

body {
  min-height: 100vh;
  background-color: $bg-primary;
}

.container {
  padding: 5.6vw;
}
